*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
  height: 550px;
  width: 750px;
  background-color: #DEF4FF;
  border: 1px solid red;
}
 h1 {
   text-align: center;
   border: 1px solid green;
 }

 #add-input {
   display: block;
   margin: auto;
 }

 #add-btn {
   display: block;
   margin: auto;
 }

 .habits-container {
   border: 1px solid red;


 }