*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
  height: 550px;
  width: 750px;
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222)); 
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: calc(100% - 3.34em);
}

.headers-container {
  display: flex;
}

.spacer {
  text-align: center;
  border: 1px solid black;
}

.days-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border: 1px solid black;
}

span {
  /* border: 1px solid yellow; */
}

.body-container {
  flex-grow: 1;
  display: flex;
}

.spacer, .sidebar {
  width: 200px;
}

.tracking-table {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

button {
  background-color: transparent;
  cursor: pointer;

}